@{
    ViewBag.Title = "Property of your dreams";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <br/>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Please search our adds to find you perfect property.  
                <a href="http://localhost:6487/Ogloszenie" title="Add search"></a>.
                The page features <mark>easy search engine, photos, and comment of buyers</mark> to help you get the most from our site
                If you have any questions about as visit
                <a href="http://localhost:6487/Home/About" title="ASP.NET MVC Forum">our reference</a>.
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h4>Getting Started</h4>
        Our site can help you dreams came true.
        We are known as best property broker in web.
        For more information click link below.

        <a href="http://localhost:6487/Home/Contact">Learn more…</a>
    </li>

    <li class="two">
        <h4>Are you dreaming about perfect home or place to work? </h4>
        So realize your dream with our adds.
        <a href="http://localhost:6487/Ogloszenie">Learn more…</a>
    </li>

    <li class="three">
        <h4>Want to sell you property?</h4>
        You can easily find buyer, our site is most popular property hub.
        Clik link below and register to add you ad.
        <a href="http://localhost:6487/Account/Register>"Learn more…</a>
    </li>
</ol>
